@charset "utf-8";

@font-face { font-family: '국립박물관문화재단클래식L'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    background-color: #54626B;
    overflow: hidden;
    font-family: '국립박물관문화재단클래식L', Arial, Helvetica, sans-serif;
    background-size:cover;
    align-items: center;
    justify-content: center;
}

@media all and (min-width:768px) {
    .section{
        text-align: center;
    }

    div {
        visibility: visible;
    }
    
    .container {
        width: 55.0000vw;
        margin-top: -17%;
        margin-left: 15%;
    }
    
    .left {
        float: left;
        position: relative;
    }
    
    .brush {
        position: absolute;
        top: 13.8889vw;
        left: -3.4722vw;
    }
    
    .phone {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    
    .yellow {
        position: absolute;
        top: 17.3611vw;
        left: 18vw;
    }
    
    #rotating_brush {
        -webkit-animation: rotation_brush 5s infinite linear;
    }
    
    @-webkit-keyframes rotation_brush {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(359deg);}
    }
    
    #rotating_yellow {
        -webkit-animation: rotation_yellow 5s infinite linear;
        position: relative;
        top: 30%;
        left: 35%;
    }
    
    @-webkit-keyframes rotation_yellow {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(-359deg);}
    }
    
    #scale_brush {
        -webkit-animation: bounce 5s infinite linear;
        /* -webkit-transform-origin: center bottom;
        transform-origin: center bottom; */
        position: relative;
        top: 3vw;
        left: 15vw;
    }
    
    @-webkit-keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        40%,
        43% {
          -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
        }
      
        70% {
          -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          -webkit-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
        }
      
        90% {
          -webkit-transform: translate3d(0, -4px, 0);
          transform: translate3d(0, -4px, 0);
        }
      }
    
    #brush2 {
        position: relative;
        top: -8.4167vw;
        left: 30%;
        -webkit-animation: rotation_brush2 7s infinite linear;
    }
    
    @-webkit-keyframes rotation_brush2 {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(359deg);}
    }
    
    #brush3 {
        -webkit-animation: rotation_brush2 7s infinite linear;
        position: relative;
        top: 29vw;
        left: 22vw;
        transform:rotate(0deg);
        -moz-transform: scaleX(-1); 
        -o-transform: scaleX(-1); 
        -webkit-transform: scaleX(-1); 
        transform: scaleX(-1);  
    }
    
    #pal {
        position: relative;
        top: 13.8889vw;
        left: 84%;
        -webkit-animation: rotation_pal 5s infinite linear;
    }
    
    @-webkit-keyframes rotation_pal {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(-359deg);}
    }
    
    #pal2 {
        position: relative;
        top: 50.0000vw;
        left: 59.0278vw;
        -webkit-animation: rotation_pal2 15s infinite linear;
    }
    
    @-webkit-keyframes rotation_pal2 {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(359deg);}
    }
    
    #main {
        position: relative;
        top: -3.5556vw;
        left: 37vw;
    }
    
    #contents {
        position: relative;
        top: 6vw;
        left: 3vw;
    }
    
    #code {
        position: relative;
        top: 13vw;
        left: 23vw;
    }
    
    #suggest {
        position: relative;
        top: 12.7vw;
        left: 24vw;
    }
}

    @media (min-width: 1025px) and (max-width: 1280px) {
        div {
            visibility: visible;
        }
        
        .container {
            width: 75.0000vw;
            margin-top: 4%;
        }
        
        .left {
            float: left;
            position: relative;
        }
        
        .brush {
            position: absolute;
            top: 13.8889vw;
            left: -3.4722vw;
        }
        
        .phone {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .yellow {
            position: absolute;
            top: 17.3611vw;
            left: 18vw;
        }
        
        #rotating_brush {
            -webkit-animation: rotation_brush 5s infinite linear;
        }
        
        @-webkit-keyframes rotation_brush {
            from {-webkit-transform: rotate(0deg);}
            to   {-webkit-transform: rotate(359deg);}
        }
        
        #rotating_yellow {
            -webkit-animation: rotation_yellow 5s infinite linear;
            position: relative;
            top: 30%;
            left: 35%;
        }
        
        @-webkit-keyframes rotation_yellow {
            from {-webkit-transform: rotate(0deg);}
            to   {-webkit-transform: rotate(-359deg);}
        }
        
        #scale_brush {
            -webkit-animation: bounce 5s infinite linear;
            /* -webkit-transform-origin: center bottom;
            transform-origin: center bottom; */
            position: relative;
            top: 3vw;
        }
        
        @-webkit-keyframes bounce {
            from,
            20%,
            53%,
            80%,
            to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }
          
            40%,
            43% {
              -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              -webkit-transform: translate3d(0, -30px, 0);
              transform: translate3d(0, -30px, 0);
            }
          
            70% {
              -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              -webkit-transform: translate3d(0, -15px, 0);
              transform: translate3d(0, -15px, 0);
            }
          
            90% {
              -webkit-transform: translate3d(0, -4px, 0);
              transform: translate3d(0, -4px, 0);
            }
          }
        
        #brush2 {
            position: relative;
            top: -5.4167vw;
            left: 30%;
            -webkit-animation: rotation_brush2 7s infinite linear;
        }
        
        @-webkit-keyframes rotation_brush2 {
            from {-webkit-transform: rotate(0deg);}
            to   {-webkit-transform: rotate(359deg);}
        }
        
        #brush3 {
            -webkit-animation: rotation_brush2 7s infinite linear;
            position: relative;
            top: 29vw;
            left: 12vw;
            transform:rotate(0deg);
            -moz-transform: scaleX(-1); 
            -o-transform: scaleX(-1); 
            -webkit-transform: scaleX(-1); 
            transform: scaleX(-1);  
        }
        
        #pal {
            position: relative;
            -webkit-animation: rotation_pal 5s infinite linear;
        }
        
        @-webkit-keyframes rotation_pal {
            from {-webkit-transform: rotate(0deg);}
            to   {-webkit-transform: rotate(-359deg);}
        }
        
        #pal2 {
            position: relative;
            top: 20.0000vw;
            left: 29.0278vw;
            -webkit-animation: rotation_pal2 15s infinite linear;
        }
        
        @-webkit-keyframes rotation_pal2 {
            from {-webkit-transform: rotate(0deg);}
            to   {-webkit-transform: rotate(359deg);}
        }
        
        #main {
            position: relative;
            top: -5.5556vw;
            left: 56%;
        }
        
        #contents {
            position: relative;
            top: 6vw;
            left: 22vw;
        }
        
        #code {
            position: relative;
            top: 13vw;
            left: 60%;
        }
        
        #suggest {
            position: relative;
            top: 12.7vw;
            left: 61%;
        }
    }
    
    .player {
        max-width:750px;
        border:5px solid rgba(0,0,0,0.2);
        box-shadow:0 0 20px rgba(0,0,0,0.2);
        position: relative;
        font-size: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
      
      .player:fullscreen {
        background: black;
        max-width: none;
        width: 100%;
      }
      .player:-webkit-full-screen {
        background: black;
        max-width: none;
        width: 100%;
      }
      
      .player.is-fullscreen {
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;
        max-width: 100%;
        border: 0;
        background: rgba(0,0,0,0.8);
        display: flex;
        transition: background .1s ease-in-out;
        
      }
      
      .player__video {
        width: 100%;
      }
      
      .player__button {
        background:none;
        border:0;
        line-height:1;
        color:white;
        text-align: center;
        outline:0;
        padding: 0;
        cursor:pointer;
        max-width:50px;
      }
      
      .player__button:focus {
        border-color: #ffc600;
      }
      
      .player__slider {
        width:10px;
        height:30px;
      }
      
      .player__controls {
        display:flex;
        position: absolute;
        bottom:0;
        width: 100%;
        transform: translateY(100%) translateY(-5px);
        transition:all .3s;
        flex-wrap:wrap;
        background: rgba(127, 71, 229, 0.8);
      }
      
      .player:hover .player__controls {
        transform: translateY(0);
      }
      
      .player:hover .progress {
        height:15px;
      }
      
      .player__controls > * {
        flex:1;
      }
      
      .progress {
        flex:10;
        position: relative;
        display:flex;
        flex-basis:100%;
        height:5px;
        transition:height 0.3s;
        background:rgba(255,255,255,0.2);
        cursor:ew-resize;
      }
      
      .progress__filled {
        width:0%;
        background:#ffc600;
        flex:0;
        flex-basis:0%;
      }
      
      /* unholy css to style input type="range" */
      
      input[type=range] {
        -webkit-appearance: none;
        background:transparent;
        width: 100%;
        margin: 0 5px;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: rgba(255,255,255,0.8);
        border-radius: 1.3px;
        border: 0.2px solid rgba(1, 1, 1, 0);
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #ffc600;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.5px;
        box-shadow:0 0 2px rgba(0,0,0,0.2);
      }
      input[type=range]:focus::-wefbkit-slider-runnable-track {
        background: #bada55;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: #ffffff;
        border-radius: 1.3px;
        border: 0.2px solid rgba(1, 1, 1, 0);
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #ffc600;
        cursor: pointer;
      }